.header {
    background: linear-gradient(135deg, #072855 7%, #0e78a9 50%, #12bdeb 100%);
    padding: 15px 0;
    display: flex;
    align-items: center;
    height: 90px;
}

.logo-container {
    background: white;
    border-radius: 6px;
    width: 80px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo-container img {
    width: 70px;
    height: 70px;
}

.nav-icons {
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav-icon {
    width: 45px;
    height: 45px;
    background: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.nav-icon i {
    font-size: 1.9rem;
    color: #072855;
}

.nav-icon:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/*RESPONSIVIDADE*/
@media (max-width:768px) {
    .header {
        padding: 10px 2px;
    }

    .logo-container {
        width: 80px;
        height: 70px; 
    }

    .nav-icons {
        gap: 15px;
    }

    .nav-icon {
        width: 45px;
        height: 45px;
    }
}


@media (max-width: 576px) {
    .logo-container {
        width: 70px;
        height: 60px; 
    }

    .logo-container img{
        width: 60px;
        height: auto;
    }

    .nav-icons {
        display: flex;
        gap: 15px;
        align-items: center;
    }   

    .nav-icon {
        width: 45px;
        height: 45px;
    }
    
    .nav-icon i{
        font-size: 1.7rem;
    }
}
