.header {
    background: linear-gradient(135deg, #072855 7%, #0e78a9 50%, #12bdeb 100%);
    padding: 15px 0;
    display: flex;
    align-items: center;
    height: 90px;
}

.logo-container {
    background: white;
    border-radius: 6px;
    width: 80px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo-container img {
    width: 70px;
    height: 70px;
}

.nav-icons {
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav-icon {
    width: 45px; 
    height: 45px;
    background: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    /* Garante que o conteúdo não se comprima no flex */
    flex-shrink: 0; 
}

.nav-icon i {
    font-size: 1.9rem;
    color: #072855;
}

.nav-icon:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
    .header {
        padding: 10px 2px;
    }

    .logo-container {
        width: 78px;
        height: 68px; 
    }

    .nav-icons {
        gap: 10px; 
    }

    .nav-icon {
        width: 40px; 
        height: 40px;
    }
    
    .nav-icon i {
        font-size: 1.6rem;
    }
}


@media (max-width: 576px) {
    .logo-container {
        width: 70px;
        height: 60px; 
    }

    .logo-container img{
        width: 60px;
        height: auto;
    }

    .nav-icons {
        gap: 8px;
        flex-wrap: nowrap;
    }

    .nav-icon {
        width: 35px; 
        height: 35px;
    }
    
    .nav-icon i{
        font-size: 1.4rem;
    }
}

@media (max-width: 400px){ /*Celulares*/
    .logo-container {
        width: 60px;
        height: 50px; 
    }

    .logo-container img{
        width: 50px;
        height: auto;
    }
            
        }